In [5]:
import pandas as pd
import os
rates_df = pd.read_csv(r'D:\DS_DataSpark Illuminating Insights for Global Electronics\raw_datasets\Exchange_Rates.csv', encoding='ISO-8859-1')

In [6]:
rates_df.head()

       Date Currency  Exchange
0  1/1/2015      USD    1.0000
1  1/1/2015      CAD    1.1583
2  1/1/2015      AUD    1.2214
3  1/1/2015      EUR    0.8237
4  1/1/2015      GBP    0.6415

In [7]:
rates_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      11215 non-null  object
 1   Currency  11215 non-null  object
 2   Exchange  11215 non-null  float64
dtypes: float64(1), object(2)
memory usage: 263.0+ KB

Convert date column type from object to datetime

In [8]:
rates_df['Date'] = pd.to_datetime(rates_df['Date'],format='%m/%d/%Y')

Check for invalid data

In [9]:
rates_df['Currency'].unique()

array(['USD', 'CAD', 'AUD', 'EUR', 'GBP'], dtype=object)

remove any unwanted spaces and ensure all in uppercase

In [10]:
rates_df['Currency'] = rates_df['Currency'].str.strip().str.upper()

check for duplicate entries

In [11]:
rates_df.duplicated().sum()

np.int64(0)

rename columns

In [12]:
rates_df.columns

Index(['Date', 'Currency', 'Exchange'], dtype='object')

In [13]:
rates_df = rates_df.rename(columns={
    'Date': 'date',
    'Currency': 'currency',
    'Exchange': 'exchange'
    })

Export cleaned dataset

In [14]:
rates_df.to_csv('cleaned_dataset/exchange_rates.csv',index=False)

check dataframe

In [15]:
rates_df

            date currency  exchange
0     2015-01-01      USD    1.0000
1     2015-01-01      CAD    1.1583
2     2015-01-01      AUD    1.2214
3     2015-01-01      EUR    0.8237
4     2015-01-01      GBP    0.6415
...          ...      ...       ...
11210 2021-02-20      USD    1.0000
11211 2021-02-20      CAD    1.2610
11212 2021-02-20      AUD    1.2723
11213 2021-02-20      EUR    0.8238
11214 2021-02-20      GBP    0.7126

[11215 rows x 3 columns]