In [1]:
#import dataset
import pandas as pd
import os
product_df = pd.read_csv(r'D:\DS_DataSpark Illuminating Insights for Global Electronics\raw_datasets\Products.csv')

In [2]:
product_df

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,$12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,$12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,$14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,$21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,$21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,$43.07,$129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,$1.71,$3.35,505,Cell phones Accessories,5,Cell phones

standardize strings

In [3]:
product_df['Product Name'] = product_df['Product Name'].str.strip()
product_df['Brand'] = product_df['Brand'].str.strip()
product_df['Color'] = product_df['Color'].str.strip()
product_df['Subcategory'] = product_df['Subcategory'].str.strip()
product_df['Category'] = product_df['Category'].str.strip()

Check for null or missing values

In [5]:
product_df.isna().sum()

ProductKey        0
Product Name      0
Brand             0
Color             0
Unit Cost USD     0
Unit Price USD    0
SubcategoryKey    0
Subcategory       0
CategoryKey       0
Category          0
dtype: int64

check for duplicate rows

In [4]:
product_df.duplicated().sum()

np.int64(0)

check for datatypes

In [5]:
product_df.dtypes

ProductKey         int64
Product Name      object
Brand             object
Color             object
Unit Cost USD     object
Unit Price USD    object
SubcategoryKey     int64
Subcategory       object
CategoryKey        int64
Category          object
dtype: object

Extract int values from price column and reassign it with float as dtype

In [6]:
# First convert to float, then format
product_df['Unit Cost USD'] = product_df['Unit Cost USD'].str.extract(r'(\d+\.\d+|\d+)')[0].astype(float).round(2)
product_df['Unit Price USD'] = product_df['Unit Price USD'].str.extract(r'(\d+\.\d+|\d+)')[0].astype(float).round(2)

In [7]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ProductKey      2517 non-null   int64
 1   Product Name    2517 non-null   object
 2   Brand           2517 non-null   object
 3   Color           2517 non-null   object
 4   Unit Cost USD   2517 non-null   float64
 5   Unit Price USD  2517 non-null   float64
 6   SubcategoryKey  2517 non-null   int64
 7   Subcategory     2517 non-null   object
 8   CategoryKey     2517 non-null   int64
 9   Category        2517 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 196.8+ KB

check stats

In [8]:
product_df.describe()

        ProductKey  Unit Cost USD  Unit Price USD  SubcategoryKey  CategoryKey
count  2517.000000    2517.000000     2517.000000     2517.000000  2517.000000
mean   1259.000000     141.763993      235.676432      491.810091     4.878824
std     726.739637     171.594673      239.725973      229.887134     2.299170
min       1.000000       0.480000        0.950000      101.000000     1.000000
25%     630.000000      30.580000       39.990000      305.000000     3.000000
50%    1259.000000      86.140000      165.000000      406.000000     4.000000
75%    1888.000000     183.540000      326.000000      801.000000     8.000000
max    2517.000000     960.820000      999.900000      808.000000     8.000000

Rename columns

In [9]:
product_df.columns

Index(['ProductKey', 'Product Name', 'Brand', 'Color', 'Unit Cost USD',
       'Unit Price USD', 'SubcategoryKey', 'Subcategory', 'CategoryKey',
       'Category'],
      dtype='object')

In [10]:
product_df = product_df.rename(columns={
    'ProductKey': 'product_key',
    'Product Name': 'product_name',
    'Brand': 'brand',
    'Color': 'color',
    'Unit Cost USD': 'unit_cost_usd',
    'Unit Price USD': 'unit_price_usd',
    'SubcategoryKey': 'sub_category_key',
    'Subcategory': 'sub_category',
    'CategoryKey': 'category_key',
    'Category': 'category'
    })

Export cleaned Dataset

In [11]:
# Define the directory and file path
directory = 'cleaned_dataset'
file_path = os.path.join(directory, 'products.csv')

# Create the directory if it doesn't exist
if not os.path.exists(directory):
    os.makedirs(directory)

# Save the DataFrame to the specified file path
product_df.to_csv(file_path, index=False)
print("File saved successfully.")

File saved successfully.

check dataset

In [12]:
product_df

,product_key,product_name,brand,color,unit_cost_usd,unit_price_usd,sub_category_key,sub_category,category_key,category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,11.00,21.57,101,MP4&MP3,1,Audio
...,...,...,...,...,...,...,...,...,...,...
2512,2513,Contoso Bluetooth Active Headphones L15 Red,Contoso,Red,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2513,2514,Contoso Bluetooth Active Headphones L15 White,Contoso,White,43.07,129.99,505,Cell phones Accessories,5,Cell phones
2514,2515,Contoso In-Line Coupler E180 White,Contoso,White,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2515,2516,Contoso In-Line Coupler E180 Black,Contoso,Black,1.71,3.35,505,Cell phones Accessories,5,Cell phones
2516,2517,Contoso In-Line Coupler E180 Silver,Contoso,Silver,1.71,3.35,505,Cell phones Accessories,5,Cell phones